@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media only screen and (min-width : 0) {
    #pic {
        max-width: 80vw;
        max-height: 80vh;
    }
}

@media only screen and (min-width : 992px) {
    #pic {
        max-width: 40vw;
        max-height: 80vh;
    }
}

body {
    font-family: "Space Mono";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    margin: 0;
}

#wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    min-width: 10rem;
    max-width: 90vw;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    box-shadow: 0 0 1rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
}

#pic {
    border-radius: .5rem;
}

#expl {
    display: none;
    max-width: 50rem;
    padding: 1rem;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    transition: .5s;
}

#bckg {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

.glow {
    animation: glow 2s infinite alternate ease;
}

@keyframes glow {
    from {
        box-shadow: 0 0 0rem;
    } to {
        box-shadow: 0 0 2rem;
    }
}