@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media only screen and (min-width : 0) {
    body {
        height: auto;
    }

    #expl {
        width: 100%;
    }

    #pic {
        max-width: 90vw;
    }
}

@media only screen and (min-width : 992px) {
    body {
        height: 100vh;
        margin: 0;
    }

    #expl {
        width: 40vw;
    }

    #pic {
        max-width: 40vw;
    }
}

body {
    font-family: "Space Mono", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    min-width: 10rem;
    max-width: 90vw;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 1rem;
    box-shadow: 0 0 1rem white;
    transition: 1s;
}

.box {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
}

#title {
    margin: 0;
}

#pic {
    max-height: 70vh;
    border-radius: .5rem;
}

#expl {
    display: none;
    margin: 0;
    color: white;
    text-align: start;
    overflow: hidden;
}

#btns {
    position: fixed;
    bottom: .5rem;
    display: flex;
    gap: .5rem;
}

#changeContent, #optsTranslate {
    background: rgba(0, 0, 0, 0.7);
    outline: none;
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: .5rem;
    transition: .3s;
    opacity: .5;
    animation: shake 5s;
}

#changeContent:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 0 .5rem white;
    opacity: 1;
}

#changeContent:active {
    scale: .9;
}

#closeIcon {
    display: none;
}

#bckg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.glow {
    animation: glow 2s infinite alternate ease;
}
.grow {
    animation: grow 2s ease;
}
.fade{
    animation: fade 2s ease;
}
.expand {
    animation: expand 10s ease, removeBorder 1s forwards 4s;
}
.pop {
    animation: pop 1s ease;
}

@keyframes glow {
    from {
        box-shadow: 0 0 0rem;
    } to {
        box-shadow: 0 0 2rem;
    }

}
@keyframes grow {
    from {
        max-height: 0;
    } to {
        max-height: 70vh;
    }
}
@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes expand {
    from {
        max-height: 0;
        border-bottom: 2px solid white;
    } to {
        max-height: 100vh;
        border-bottom: 2px solid white;
    }
}
@keyframes removeBorder {
    from {
        border-bottom: 2px solid white;
    }
    to {
        border-bottom: 2px solid transparent;
    }
}
@keyframes shake {
    0% {
        opacity: .5;
    } 25% { 
        opacity: 1;
        rotate: 5deg;
        transform: translateY(-3px);
        box-shadow: 0 0 1rem white;

    } 50% {
        opacity: 1;
        rotate: -5deg;
        transform: translateY(-3px);
        box-shadow: 0 0 1rem white;

    } 75% {
        opacity: 1;
        rotate: 5deg;
        transform: translateY(-3px);
        box-shadow: 0 0 1rem white;

    } 100% {
        opacity: .5;
    }
}
@keyframes pop {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}