body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    margin: 0;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 1rem;
    border: 2px solid white;
    border-radius: 1rem;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#pic {
    max-width: 85vw;
    max-height: 70vh;
    border-radius: .5rem;
}

#expl {
    position: absolute;
    max-height: 90%;
    overflow-y: scroll;
    padding: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: justify;
    opacity: 0;
    scale: .9;
    transition: .5s;
}
#expl:hover {
    opacity: 1;
    scale: 1;
}

#bckg {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}